*{
    background-color: #444;
    color: #fff;
}

#container{
    border: 1px dashed #ccc;
}

div{
    padding : 10px;
    color: #111;
}

#container div:first-child{
    background-color: #222;
    color: #eee;
}

#container div:first-child:before{
    content: "Window: ";
    margin-left: 20px;
}

#container div:last-child{
    background-color: #999999;
    text-align: right;
}

#container div:last-child:after{
    content: " Copyright 2021";
    margin-right: 10px;
}

#container .main{
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
}

#container .main *{
    margin: 0;
    padding: 10px;
    background-color: #eee;
    color: #222;
}