ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    gap: 10px;
    padding: 10px;
}

li{
    float: left;
    margin-right: 10px;
}

a:link, a:visited{
  display: block;
  width: 120px;             
  text-align: center;       
  padding: 12px 0;          
  color: white;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active{
    background-color: grey;
}